// ---------------------------------------------------------------------------
// Imports

@import "compass";
@import 'color-schemer';
@import "modular-scale";
// @import "breakpoint";

@import "compass/reset";

// ---------------------------------------------------------------------------
// Modules

// @import 'toolkit/border-box';
// @import 'toolkit/fluid-media';
// @import 'toolkit/clearfix';

////////////////////////
// Fluid Embeds and whatever WITH NO JAVASCIPT!
////////////////////////
// @import 'toolkit/intrinsic-ratio';
// $intrinsic-ratio: 16/9 !default;
// $intrinsic-ratio-width: 100% !default;
// $intrinsic-ratio-elements: '> *' !default;
// $intrinsic-ratio-extend: true !default;
// $intrinsic-ratio-direction: top !default;


// ---------------------------------------------------------------------------
// Config

// Browser Support
// http://compass-style.org/reference/compass/support/
$legacy-support-for-ie: false;
$legacy-support-for-ie8: true;
$experimental-support-for-svg: true;
$experimental-support-for-pie: true;
$legacy-support-for-mozilla: false;